body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #135589, #3DDAD7);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    background: gray;
    border-radius: 50%;
    margin-right: 10px;
}

.balance {
    text-align: right;
}

.buttons button {
    background: #4e9cb5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px 0;
    text-align: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.menu-item button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.menu-item span {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}


.menu button {
    background: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.recent {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

.grid {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.grid div {
    width: 80px;
    height: 80px;
    background: lightgray;
    border-radius: 10px;
}